* text=auto eol=lf

# Generated source files
crates/structurizr-grammar/src/*.json linguist-generated
crates/structurizr-grammar/src/parser.c linguist-generated
crates/structurizr-grammar/src/tree_sitter/* linguist-generated

# C bindings
crates/structurizr-grammar/bindings/c/** linguist-generated
crates/structurizr-grammar/CMakeLists.txt linguist-generated
crates/structurizr-grammar/Makefile linguist-generated

# Rust bindings
crates/structurizr-grammar/bindings/rust/* linguist-generated

# Node.js bindings
crates/structurizr-grammar/bindings/node/* linguist-generated
crates/structurizr-grammar/binding.gyp linguist-generated
crates/structurizr-grammar/package.json linguist-generated
crates/structurizr-grammar/package-lock.json linguist-generated

# Python bindings
crates/structurizr-grammar/bindings/python/** linguist-generated
crates/structurizr-grammar/setup.py linguist-generated
crates/structurizr-grammar/pyproject.toml linguist-generated

# Go bindings
crates/structurizr-grammar/bindings/go/* linguist-generated
crates/structurizr-grammar/go.mod linguist-generated
crates/structurizr-grammar/go.sum linguist-generated

# Swift bindings
crates/structurizr-grammar/bindings/swift/** linguist-generated
crates/structurizr-grammar/Package.swift linguist-generated
crates/structurizr-grammar/Package.resolved linguist-generated

# Zig bindings
crates/structurizr-grammar/bindings/zig/* linguist-generated
crates/structurizr-grammar/build.zig linguist-generated
crates/structurizr-grammar/build.zig.zon linguist-generated

# Java bindings
crates/structurizr-grammar/pom.xml linguist-generated
crates/structurizr-grammar/bindings/java/** linguist-generated
