* text=auto eol=lf

# Generated source files
crates/strz-grammar/src/*.json linguist-generated
crates/strz-grammar/src/parser.c linguist-generated
crates/strz-grammar/src/tree_sitter/* linguist-generated

# Rust bindings
crates/strz-grammar/bindings/rust/* linguist-generated

# Generated test data
tests/lsp/workspaces/benchmark-mega-multi-root/** linguist-generated
tests/lsp/workspaces/benchmark-mega/** linguist-generated
